Language: Cpp
BasedOnStyle: Google

IndentWidth: 4
ColumnLimit: 130
BinPackArguments: true
AllowAllArgumentsOnNextLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
SpaceAfterCStyleCast: true